# --- Maven ---
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

# --- IDEs (VS Code e IntelliJ) ---
.vscode/
.idea/
*.iml
*.iws
.settings/
.classpath
.project
.factorypath
bin/
out/

# --- Log files ---
*.log
logs/

# --- Sistema Operativo ---
.DS_Store
Thumbs.db
desktop.ini

HELP.md
**/application-local.properties
**/application-dev.properties